{% extends "base.html" %}
{% load static %}

{% block title %}Index{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/css/index.css" %}">
{% endblock %}

{% block content %}
    Content
    <div class="test">Content1</div>

    <div class="test2">Content2</div>
    <div class="test2">Content3</div>

    <div class="alert alert-dark" role="alert">
        A simple dark alert—check it out!
    </div>

    <div class="container">test5</div>
    <div class="container-fluid">test5</div>

    <div class="container">
        <div class="row">


            <!-- Screen is divided by bootstrap into 12 pieces -->
            <div class="col-8">eight</div>
            <div class="col-1">one</div>
            <div class="col-3">three</div>
        </div>
    </div>

{% endblock %}

