<div class="topic-list">
    <!-- topic-list - block name
    item - element name -->
    <div class="topic-list__item">
        <h4><a href="#">Test</a></h4>
        <h6><a href="#">Category: test</a></h6>
        <p>Example text...</p>
        <a href="{% url "topic_details" 1 %}" class="btn btn-outline-primary">More...</a>
    </div>
    <div class="topic-list__item">
        <h4><a href="#">Test</a></h4>
        <h6><a href="#">Category: test</a></h6>
        <p>Example text...</p>
        <a href="{% url "topic_details" 2 %}" class="btn btn-outline-primary">More...</a>
    </div>
    <div class="topic-list__item">
        <h4><a href="#">Test</a></h4>
        <h6><a href="#">Category: test</a></h6>
        <p>Example text...</p>
        <a href="{% url "topic_details" 3 %}" class="btn btn-outline-primary">More...</a>
    </div>
</div>