{% load static %}
{% load core_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    {% block styles %}{% endblock %}

    <script type="text/javascript" src="{% static "jquery/jquery-3.4.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "popper/popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block scripts %}{% endblock %}
</head>

<body>

<div>
    {# Navbar #}
    {% block nav %}
        <nav class="navigation navbar navbar-expand-lg navbar-light bg-light">
            {#|{v17_|)3\/_[0\^/#}
            <a class="navbar-brand" href="#">{{ "Kult dev Cow"|lower|moon }}</a>
            {#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
            {#                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
            {#                <span class="navbar-toggler-icon"></span>#}
            {#            </button>#}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        {#                        __|\|3\^/$__#}
                        <a class="nav-link" href="#">{{ 'News'|lower|moon|underscore }}<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ 'Dropdown'|lower|moon|underscore }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    {% endblock %}

    {% block content %}{% endblock %}
</div>

{# This is one-line comment from DTL #}

{% comment %}
    This is a multiline comment
    from DTL
{% endcomment %}

<!-- This is an HTML comment -->
</body>

</html>